/* Feel free to change any of the styling below!*/
body {
    text-align: center;
background-color: #960e0e;
  color:white;
}

img {
    width: 350px;

 
}

.title {
    font-size: 50px;
    font-weight: 800;
}

.buttons {
    display: flex;
    justify-content: center;

}

p {
    font-size: 30px;
    font-weight: 800;
}


button {
    height: 40px;
}



h1 {
    font-size: 50px;
    color: white;
  
}



.story-opening{
   display:block;
}

 
.buttons{
   display:block;
}


 
.open-one-screen{
   display:none;
}



.open-two-screen{
   display:none;
}



.option-one-end{
   display:none;
}


 
.option-two-end{
   display:none;
}
